* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
.products {
  width: 400px;
  height: auto;
}
img {
  width: 100%;
}

.main-background {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 100%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../assets/bg.jpg");
  height: 90vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR */

header nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
nav .nav-links {
  padding-left: 32px;
  color: #fafafa;
  font-size: 20px;
}

.logo {
  font-size: 32px;
  color: #fafafa;
}

.hero-section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-section .hero-container .primary-heading {
  font-size: 62px;
  text-transform: capitalize;
  color: #fafafa;
  margin-bottom: 60px;
}
.hero-section .hero-container {
  text-align: center;
}
.hero-section .hero-container .primary-btn {
  background-color: #fab005;
  padding: 15px 45px;
  font-size: 24px;
  color: #222;
  border-radius: 6px;
}

/* Products */

#product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.product-title {
  font-size: 24px;
  color: #2f4858;
  margin-bottom: 20px;
}
.product-description {
  color: #2f4858;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.product-price {
  font-size: 28px;
  font-weight: 600;
  color: #2f4858;
  margin-bottom: 30px;
}
.quantity-section {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}
.quantity-section button {
  border: none;
}
.quantity-section button:first-child {
  width: 30px;
  background-color: #364fc7;
  color: #fff;
}
.quantity-section button:last-child {
  width: 30px;
  background-color: #364fc7;
  color: #fff;
}

.product-add-btn {
  border: none;
  background-color: #364fc7;
  padding: 10px 52px;
  font-size: 20px;
  border-radius: 6px;
  color: #fafafa;
  text-transform: capitalize;
}

/* Filter buttons*/

.filter{
  background-color: #fab005;
  padding: 15px 45px;
  font-size: 15px;
  color: #222;
  border-radius: 6px;
  border: 0;
  margin: 0.5em 0 1em 0.5em;
}

.product-header{
  font-size: 28px;
  margin-left: 0.5rem;
}


